<!DOCTYPE html>
<html lang="en">

<head>
    <title>Employees</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        th,
        td {
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #f2f2f2
        }
        
        th {
            background-color: rgb(97, 180, 8);
            color: white;
        }
    </style>
    <link rel="icon" href="images/favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Employees.css">

</head>

<body>

    <nav class="navbar">
        <div class="navlinks">
            <ul>
                <li><a href="Home.html">Home</a></li>
                <li><a href="profile">Admin Profile</a></li>
            </ul>
        </div>
    </nav>


    <table id="PatientqueueTable" class="container">


        <thead>
            <tr>
                <th>
                    <h1>First Name</h1>
                </th>
                <th>
                    <h1>Last Name</h1>
                </th>
                <th>
                    <h1>ID</h1>
                </th>
                <th>
                    <h1>E-mail</h1>
                </th>
                <th>
                    <h1>Phone</h1>
                </th>
                <th>
                    <h1></h1>
                </th>

            </tr>
        </thead>
        <tbody>

            <%p.forEach(user=>{ %>
                <% if(user.Roll==='Employee'){%>
                    <tr>
                        <td>
                            <p>

                                <%= user.FirstName %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= user.LastName %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= user.id %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= user.email%>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= user.Phone%>
                            </p>
                        </td>
                        <td>

                            <p>
                                <a href="mailto: <%= user.email%>?<%= user.email%>&<%= user.email%>&subject=&body=Message Body">
                                    <button>message</button>
                                </a>


                            </p>
                        </td>

                    </tr>
                    <%}%>
                        <%})%>

        </tbody>
    </table>
</body>

</html>