<!DOCTYPE html>
<html lang="en">


<head>

    <title>Request</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        th,
        td {
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #f2f2f2
        }
        
        th {
            background-color: rgb(97, 180, 8);
            color: white;
        }
    </style>
    <link rel="icon" href="images/favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Employees.css">

</head>

<body>

    <nav class="navbar">
        <div class="navlinks">
            <ul>
                <li><a href="Home.html">Home</a></li>
                <li><a href="profile">Admin Profile</a></li>
            </ul>
        </div>
    </nav>


    <table id="PatientqueueTable" class="container">
        <!-- <form action="/Admin-Assistance-Approval" method="POST"> -->

        <thead>
            <tr>
                <th>
                    <h1>Name</h1>
                </th>
                <th>
                    <h1>Email</h1>
                </th>
                <th>
                    <h1>Phone</h1>
                </th>
                <th>
                    <h1>study at</h1>
                </th>
                <th>
                    <h1>years of studies</h1>
                </th>
                <th>
                    <h1>about me</h1>
                </th>
                <th>
                    <h1></h1>

                </th>
                <th>
                    <h1></h1>
                </th>


            </tr>
        </thead>
        <tbody>


            <%p.forEach(user=>{ %>

                <tr>
                    <td>
                        <p>

                            <%= user.Name %>
                        </p>
                    </td>
                    <td>
                        <p>
                            <%= user.Email %>
                        </p>
                    </td>
                    <td>
                        <p>
                            <%= user.Phone %>
                        </p>
                    </td>
                    <td>
                        <p>
                            <%= user.Studyat %>
                        </p>
                    </td>
                    <td>
                        <td>
                            <p>
                                <%= user.Yearofstud %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= user.aboutme %>
                            </p>
                        </td>

                        <td>
                            <p>
                                <button>accept</button>
                            </p>
                        </td>

                        <td>
                            <p>
                                <form action="/Delete1" method="POST" class="form-container">
                                    <button type="submit" name="name" value=<%=user.id %> class="btn confirm">Delete </button>
                                </form>

                            </p>
                        </td>

                        </p>
                    </td>



                </tr>

                <%})%>

        </tbody>
        </form>
    </table>
    <script>
        function deleteUser(Name) {
            console.log(Name);
        }
    </script>
</body>

</html>